<h1> Edit Picture </h1>

<%= form_for @picture do |f| %>
	<p>
		<lable>Edit Artist</lable><br>
		<%= f.text_field "artist" %>
	</p>

	<p>
		<lable>Edit Title</lable><br>
		<%= f.text_field "title" %>
	</p>

	<p>
		<lable>Edit URL</lable><br>
		<%= f.text_field "url" %>
	</p>

	<p>
		<%= f.submit "Update" %>
	</p>

<%end%>