<h1> Add a picture </h1>
<!-- the information here gets sent to the params hash.
example below is for POST. Here we define names, those will be the key
and the input from the user will be the value for that key -->


<!-- 
	First Version, plain html
	 <form action ="/pictures" method = "POST">
	 -->

<!-- Second Version: form_tag "/pictures" do -->

<%= form_for @picture do |f| %>
	<p>
		<lable>Artist</lable><br>
		<!-- <input type = "text" name = "artist"/> --> 
		<%= f.text_field "artist" %>
	</p>

	<p>
		<lable>Title</lable><br>
		<!-- <input type = "text" name = "title"/> -->
		<%= f.text_field "title" %>
	</p>

	<p>
		<lable>URL</lable><br>
		<!-- <input type = "text" name = "url"/> -->
		<%= f.text_field "url" %>
	</p>

	<p>
	<!-- 	<input type = "submit"/> -->
		<%= f.submit "Save" %>
	</p>

<!-- </form> -->
<% end%>